<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/admin">
 <head>
    <meta charset="utf-8">
	<title>Add Article</title>
 </head>
 
 <body>
  <div class="container-fluid" layout:fragment="content">
  	<!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <div class="page-title-box">
                <h4 class="page-title" th:text="${addForm}?'Add New Article':'Update Article'">Add New Article</h4>
            </div>
        </div>
    </div>
    <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card m-b-30">
                            <div class="card-body">
								<form th:action="${addForm}?'/article/add':'/article/update'" th:object="${article}" method="POST" enctype="multipart/form-data">
									<input type="hidden" class="form-control" th:field="*{id}"/>
									<div class="form-group row">
	                                    <label class="col-sm-2 col-form-label" th:text="#{trans.title}">Title</label>
	                                    <div class="col-sm-10">
	                                        <input type="text" class="form-control" th:field="*{title}"/>
	                                    </div>
	                                </div>
	                                
	                                <div class="form-group row">
	                                    <label class="col-sm-2 col-form-label" th:text="#{trans.select}">Select</label>
	                                    <div class="col-sm-10">
		                                    <select class="custom-select" th:field="${article.category.id}">
										        <option th:each="category:${categories}" th:object="${category}" th:value="*{id}" th:text="*{title}"></option>
										 	</select>
	                                    </div>
	                                </div>
	                                
	                                <div class="form-group row">
	                                    <label class="col-sm-2 col-form-label" th:text="#{trans.description}">Description</label>
	                                    <div class="col-sm-10">
	                                        <textarea class="form-control" rows="7" th:field="*{description}"></textarea>
	                                    </div>
	                                </div>
	                                
	                                 <div class="form-group row">
	                                    <label class="col-sm-2 col-form-label" th:text="#{trans.thumbnail}">Thumnail</label>
	                                    <div class="col-sm-10">
	                                        <input type="file" class="form-control" name="file" multiple="multiple"/>
	                                    </div>
	                                </div>
	                                
	                                <div class="form-group row">
	                                    <label class="col-sm-2 col-form-label"></label>
	                                    <div class="col-sm-10">
	                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
	                                    </div>
	                                </div>
	                                
								</form>
                                    
                            </div>
                        </div>
                    </div>
                </div>

  </div>
 </body>
</html>
