<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/admin">
 <head>
    <meta charset="utf-8">
	<title>Dashboard</title>
 </head>
 
 <body>
  <div class="container-fluid" layout:fragment="content">
  	<!-- Page-Title -->
    <div class="row">
                    <div class="col-sm-12 col-lg-8 mx-auto">
                        <div class="page-title-box">
                            <h4 class="page-title" th:text="#{trans.dashboard}">Dashboard</h4>
                        </div>
                    </div>
                </div>
                
                 <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card m-b-30">
                            <div class="card-body">
                            	<form action="/dashboard" method="GET">
                            		<div class="form-row">
									    <div class="form-group col-md-6">
									      <label th:text="#{trans.search.article}">Search Article</label>
									      <input type="text" class="form-control" th:field="${filter.title}">
									    </div>
									    <div class="form-group col-md-4">
									      <label th:text="#{trans.filter.category}">Filter Category</label>
									      <select class="form-control" th:field="${filter.cate_id}">
									        <option value="" selected​ th:text="#{trans.choose}">Choose...</option>
									        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}">Category</option>
									      </select>
									    </div>
									    <div class="form-group col-md-2">
									    	<label>&nbsp;</label>
									      	<button type="submit" class="form-control btn btn-primary waves-effect waves-light" th:text="#{trans.save}">Save</button>
									    </div>
									  </div>
                            	</form>
                            </div>
                        </div>
                    </div>
                 </div>

  	<div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card m-b-30">
                            <div class="card-body">
								
								<h3 class="mt-0 header-title"​​>
									<th:block th:text="#{trans.article}">Articles</th:block>
									 <a th:href="@{/article/add}" class="btn btn-info btn-sm">
		                                <i class="mdi mdi-plus noti-icon"></i>
		                                <th:block th:text="#{trans.add_new}">Add New</th:block>
		                             </a>
								</h3>
								
                                <table class="table table-hover table-dark">
                                    <thead>
                                    	  <tr>
									      <th scope="col">#</th>
									      <th scope="col" width="15%" th:text="#{trans.title}">Title</th>
									      <th scope="col" width="40%" th:text="#{trans.description}">Description</th>
									      <th scope="col" th:text="#{trans.category}">Category</th>
									      <th scope="col" th:text="#{trans.thumbnail}">Thumbnail</th>
									      <th scope="col" width="20%" th:text="#{trans.action}">Action</th>
									    </tr>
                                    </thead>
                                    <tbody>
                                   		  <tr th:each="article:${articles}" th:object="${article}">
									      <th scope="row" th:text="*{id}">1</th>
									      <td th:text="*{title}"></td>
									      <td th:text="*{description}"></td>
									      <td th:text="*{category.title}"></td>
									      <td>
									      	<img src="" th:src="*{thumbnail}" class="img-thumbnail" style="width:100px"/>
									      </td>
									      <th>
											<a th:href="@{/article/view/{id}(id=*{id})}" class="btn btn-outline-warning btn-sm" data-toggle="tooltip" data-placement="top" th:title="#{trans.view}"><i class="ti-eye"></i></a>
											<a th:href="@{/article/edit/{id}(id=*{id})}" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" th:title="#{trans.edit}"><i class="ti-pencil-alt"></i></a>
											<a th:href="@{/article/remove/{id}(id=*{id})}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to Remove?')" data-toggle="tooltip" data-placement="top" th:title="#{trans.delete}"><i class="ti-trash"></i></a>
									      </th>
									    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
  </div>
 </body>
</html>
