<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/default">

 <head>
	<title th:text="${addForm}?'Add New':'Update Article'">Add New</title>
 </head>
 <body>
  <div layout:fragment="content">
  	<h1 th:text="${addForm}?'Add New':'Update Article'"> Article</h1>
    <form th:action="${addForm}?'/article/add':'/article/update'" th:object="${article}" method="POST" enctype="multipart/form-data">
		  <div class="form-group required">
		    <label class='control-label'>ID</label>
		    <input type="text" class="form-control" th:field="*{id}">
		    <small th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="form-text text-danger">Id Error</small>
		  </div>
		  
		  <div class="form-group">
			  <label class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
			  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
			        <option selected>Choose...</option>
			        <option value="1">One</option>
			        <option value="2">Two</option>
			        <option value="3">Three</option>
			 	</select>
		  </div>
		  
		  <div class="form-group required">
		    <label class='control-label'>Title</label>
		    <input type="text" class="form-control" th:field="*{title}"/>
		    <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-text text-danger">Title Error</small>
		  </div>
		  
		  <div class="form-group required">
		    <label class='control-label'>Description</label>
		    <textarea class="form-control" rows="7" th:field="*{description}"></textarea>
		    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-text text-danger">Id Error</small>
		  </div>

		  <div class="form-group">
		    <label for="exampleInputFile">Thumbnail</label>
		    <input type="file" class="form-control-file" name="file" multiple="multiple"/>
		    <!--<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->
		  </div>
		  
		 <ul class="media-date text-uppercase reviews list-inline">
		    <li class="aaaa"><button type="submit" class="btn btn-success" th:text="${addForm}?'Save':'Update'">Publish</button></li>
		  </ul>
		</form>
  </div>
 </body>               
</html>