<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/default">

 <head>
	<title>Article List</title>
 </head>
 <body>
  <div layout:fragment="content">
  	<h1>
  		Article Page 
  		<a th:href="@{/article/add}" class="btn btn-info btn-sm">Add New</a>
  	</h1>
  	
  	<table class="table table-hover table-dark">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col" width="20%" th:text="#{trans.title}">Title</th>
	      <th scope="col" width="45%">Description</th>
	      <th scope="col">Thumbnail</th>
	      <th scope="col">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="article:${articles}" th:object="${article}">
	      <th scope="row" th:text="*{id}">1</th>
	      <td th:text="*{title}"></td>
	      <td th:text="*{description}"></td>
	      <td>
	      	<img src="" th:src="*{thumbnail}" class="img-thumbnail" style="width:100px"/>
	      </td>
	      <th>
			<a th:href="@{/article/view/{id}(id=*{id})}" class="btn btn-outline-warning btn-sm">View</a>
			<a th:href="@{/article/edit/{id}(id=*{id})}" class="btn btn-outline-primary btn-sm">Edit</a>
			<a th:href="@{/article/remove/{id}(id=*{id})}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to Remove?')">Remove</a>
	      </th>
	    </tr>
	  </tbody>
	</table>
  </div>
 </body>               
</html>