<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/default">

 <head>
	<title th:text="${article.title}"></title>
 </head>
 <body>
  <div layout:fragment="content">
    <th:block th:object="${article}">
  	<h1 th:text="*{title}"></h1>
  	<img th:src="*{thumbnail}" class="img-thumbnail mx-auto d-block" />
  	<p th:text="*{description}"></p>
  	</th:block>
  </div>
 </body>               
</html>