<footer class="blog-footer" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
</footer>