 <!-- Footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        &copy; 2018 KPS - Article Managment System <i class="mdi mdi-heart text-danger"></i> by KPS CL.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->