<script src="/admin/js/jquery.min.js"></script>
<script src="/admin/js/popper.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/modernizr.min.js"></script>
<script src="/admin/js/waves.js"></script>
<script src="/admin/js/jquery.slimscroll.js"></script>
<script src="/admin/js/jquery.nicescroll.js"></script>
<script src="/admin/js/jquery.scrollTo.min.js"></script>

<!-- App js -->
<!-- <script src="/admin/js/app.js"></script> -->
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	});
</script>
     