<!-- App Icons -->
<link rel="shortcut icon" href="/favicon.ico">

<!-- App css -->
<link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/admin/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/admin/css/style.css" rel="stylesheet" type="text/css" />