<div class="nav-scroller py-1 mb-2" xmlns:th="http://www.thymeleaf.org" th:fragment="navigation">
	<nav class="nav d-flex justify-content-between">
	     <a class="p-2 text-muted" th:href="@{/}" th:text="#{trans.home}">Home</a>
	     <a class="p-2 text-muted" th:href="@{/articles}" th:text="#{trans.article}">Articles</a>
	     <a class="p-2 text-muted" th:href="@{/categories}" th:text="#{trans.category}">Categories</a>
	     <a class="p-2 text-muted" href="#">Design</a>
	     <a class="p-2 text-muted" href="#">Culture</a>
	     <a class="p-2 text-muted" href="#">Business</a>
	     <a class="p-2 text-muted" href="#">Politics</a>
	     <a class="p-2 text-muted" href="#">Opinion</a>
	     <a class="p-2 text-muted" href="#">Science</a>
	     <a class="p-2 text-muted" href="#">Health</a>
	     <a class="p-2 text-muted" href="#">Style</a>
	     <a class="p-2 text-muted" href="#">Travel</a>
	</nav>
</div>