<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/default">

 <head>
	<title>Category List</title>
 </head>
 <body>
  <div layout:fragment="content">
  	<h1>
  		Category Page 
  		<a th:href="@{/category/add}" class="btn btn-info btn-sm">Add New</a>
  	</h1>
  	
  	<table class="table table-hover table-dark">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col" width="50%">Title</th>
	      <th scope="col" width="25%">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="category:${categories}" th:object="${category}">
	      <th scope="row" th:text="*{id}">1</th>
	      <td th:text="*{title}"></td>
	      <th>
			<a th:href="@{/category/view/{id}(id=*{id})}" class="btn btn-outline-warning btn-sm">View</a>
			<a th:href="@{/category/edit/{id}(id=*{id})}" class="btn btn-outline-primary btn-sm">Edit</a>
			<a th:href="@{/category/remove/{id}(id=*{id})}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to Remove?')">Remove</a>
	      </th>
	    </tr>
	  </tbody>
	</table>
  </div>
 </body>               
</html>