<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/admin">
 <head>
    <meta charset="utf-8">
	<title>Add Category</title>
 </head>
 
 <body>
  <div class="container-fluid" layout:fragment="content">
  	<!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <div class="page-title-box">
                <h4 class="page-title" th:text="${addForm}?'Add New Category':'Update Article'">Add New Category</h4>
            </div>
        </div>
    </div>
    <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card m-b-30">
                            <div class="card-body">
								<form th:action="${addForm}?'/category/add':'/category/update'" th:object="${category}" method="POST" enctype="multipart/form-data">
									<input type="hidden" class="form-control" th:field="*{id}"/>
									<div class="form-group row">
	                                    <label class="col-sm-3 col-form-label">Category Name</label>
	                                    <div class="col-sm-9">
	                                        <input type="text" class="form-control" th:field="*{title}"/>
	                                    </div>
	                                </div>
	                                      
	                                <div class="form-group row">
	                                    <label class="col-sm-3 col-form-label"></label>
	                                    <div class="col-sm-9">
	                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
	                                    </div>
	                                </div>
	                                
								</form>
                                    
                            </div>
                        </div>
                    </div>
                </div>

  </div>
 </body>
</html>
