<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/admin">
 <head>
    <meta charset="utf-8">
	<title>Category</title>
 </head>
 
 <body>
  <div class="container-fluid" layout:fragment="content">
  	<!-- Page-Title -->
    <div class="row">
                    <div class="col-sm-12 col-lg-8 mx-auto">
                        <div class="page-title-box">
                            <h4 class="page-title" th:text="#{trans.categories}">Categories</h4>
                        </div>
                    </div>
                </div>

  	<div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card m-b-30">
                            <div class="card-body">
								
								<h3 class="mt-0 header-title"​​>
									<th:block th:text="#{trans.categories}">Categories</th:block>
									 <a th:href="@{/category/add}" class="btn btn-info btn-sm">
		                                <i class="mdi mdi-plus noti-icon"></i>
		                                <th:block th:text="#{trans.add_new}">Add New</th:block>
		                             </a>
								</h3>
                                <table class="table table-hover table-dark">
                                    <thead>
                                        <tr>
									      <th scope="col">#</th>
									      <th scope="col" width="50%">Title</th>
									      <th scope="col">Action</th>
									    </tr>
                                    </thead>
                                    <tbody>
                                   		<tr th:each="category:${categories}" th:object="${category}">
									      <td scope="row" th:text="*{id}">1</td>
									      <td th:text="*{title}"></td>
									      <td>
											<!-- <a th:href="@{/category/view/{id}(id=*{id})}" class="btn btn-outline-warning btn-sm">View</a> -->
											<a th:href="@{/category/edit/{id}(id=*{id})}" class="btn btn-outline-primary btn-sm">Edit</a>
											<a th:href="@{/category/remove/{id}(id=*{id})}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to Remove?')">Remove</a>
									      </td>
									    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
  </div>
 </body>
</html>
